<div class="flex justify-between items-center mb-6">
  <h1 class="text-3xl font-bold">Novo Livro</h1>
  <%= link_to "Voltar", books_path, class: "btn btn-ghost" %>
</div>

<div class="card bg-base-100 shadow-xl">
  <div class="card-body">
    <h2 class="card-title mb-4">Adicionar Novo Livro</h2>
    <%= render "form", book: @book %>
  </div>
</div>
